* {
    font-family: 'Belleza';
}


@media (min-width: 1200px) {
    .secCarrossel {
        display: flex;
        justify-content: space-around;
    }

    main {
        width: 70%;
    }

    .arrowBg {
        background-color: #FFCBA9;
        height: 50px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(200px);

    }

    .arrowBg:hover {
        background-color: #fcd8c0;
        height: 50px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(200px);

    }

    .servicosCarrossel {
        display: block;
        width: 900px;
        max-height: 400px;
        padding: 30px;
        border-radius: 20px;
        background-color: #e9bfa4;
        transition: 2s;
    }

    .hidden {
        display: none;
    }

    .rarrow {
        transform: rotate(180deg) translateY(-4px);
        width: 30px;
        height: 25px;
    }

    .rarrow:hover {
        transform: rotate(180deg) translateY(-4px);
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .arrow {
        width: 30px;
        height: 25px;
        transform: translateY(4px);
    }

    .arrow:hover {
        width: 30px;
        height: 25px;
        transform: translateY(4px);
        cursor: pointer;

    }

    .alocation {
        width: 25px;
        height: 25px;
        color: #52331f;
    }

    .active {
        width: 25px;
        height: 25px;
        color: #cf6117;

    }

    .alocationList {
        padding: 10px;
        display: flex;
        width: 100px;
        justify-content: center;
        margin: auto;
        justify-content: space-around;
    }

    .CardsServicos {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .Card {
        background-color: #efb38b75;
        display: flex;
        flex-direction: column;
        width: 350px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }

    .cardImg {
        max-width: 300px;
        border-radius: 20px;
    }

    .cardTitle {
        color: #E87F3A;
        font-size: 1.5rem;
        text-align: left;
    }

    .cardDescription {
        color: black;
        text-align: left;
    }

    .cardValue {
        color: #E87F3A;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cardServico {
        position: absolute;
        z-index: 9;
        transform: translateX(200px);
        padding: 5px;
        border-radius: 0px 20px 0px 0px;
        background-color: #efb38b34;
    }

    .SaibaBtn {
        background-color: #E87F3A;
        color: whitesmoke;
        width: 220px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 100px;
        margin: auto;
    }

    .secListaPecos {
        background-color: #e8803a1c;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        border-radius: 20px;
        color: black;
    }

    .list {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        padding: 2cap;
        text-align: left;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .secCarrossel {
        display: flex;
        justify-content: space-around;
    }

    main {
        width: 70%;
    }

    .arrowBg {
        background-color: #FFCBA9;
        height: 50px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(200px);

    }

    .arrowBg:hover {
        background-color: #fcd8c0;
        height: 50px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(200px);

    }

    .servicosCarrossel {
        display: block;
        width: 600px;
        max-height: 400px;
        padding: 30px;
        border-radius: 20px;
        background-color: #e9bfa4;
        transition: 2s;
    }

    .hidden {
        display: none;
    }

    .rarrow {
        transform: rotate(180deg) translateY(-4px);
        width: 30px;
        height: 25px;
    }

    .rarrow:hover {
        transform: rotate(180deg) translateY(-4px);
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .arrow {
        width: 30px;
        height: 25px;
        transform: translateY(4px);
    }

    .arrow:hover {
        width: 30px;
        height: 25px;
        transform: translateY(4px);
        cursor: pointer;

    }

    .alocation {
        width: 25px;
        height: 25px;
        color: #52331f;
    }

    .active {
        width: 25px;
        height: 25px;
        color: #cf6117;

    }

    .alocationList {
        padding: 10px;
        display: flex;
        width: 100px;
        justify-content: center;
        margin: auto;
        justify-content: space-around;
    }

    .CardsServicos {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .Card {
        background-color: #efb38b75;
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }

    .cardImg {
        max-width: 250px;
        border-radius: 20px;
    }

    .cardTitle {
        color: #E87F3A;
        font-size: 1.5rem;
        text-align: left;
    }

    .cardDescription {
        color: black;
        text-align: left;
    }

    .cardValue {
        color: #E87F3A;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cardServico {
        position: absolute;
        z-index: 9;
        transform: translateX(200px);
        padding: 5px;
        border-radius: 0px 20px 0px 0px;
        background-color: #efb38b34;
    }

    .SaibaBtn {
        background-color: #E87F3A;
        color: whitesmoke;
        width: 220px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 100px;
        margin: auto;
    }

    .secListaPecos {
        background-color: #e8803a1c;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        border-radius: 20px;
        color: black;
    }

    .list {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        padding: 2cap;
        text-align: left;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .secCarrossel {
        display: flex;
        justify-content: space-around;
    }

    main {
        width: 70%;
    }

    .arrowBg {
        background-color: #FFCBA9;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .arrowBg:hover {
        background-color: #fcd8c0;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .servicosCarrossel {
        display: block;
        width: 400px;
        max-height: 250px;
        padding: 30px;
        border-radius: 20px;
        background-color: #e9bfa4;
        transition: 2s;
    }

    .hidden {
        display: none;
    }

    .rarrow {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
    }

    .rarrow:hover {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
        cursor: pointer;
    }

    .arrow {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
    }

    .arrow:hover {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
        cursor: pointer;

    }

    .alocation {
        width: 25px;
        height: 25px;
        color: #52331f;
    }

    .active {
        width: 25px;
        height: 25px;
        color: #cf6117;

    }

    .alocationList {
        padding: 10px;
        display: flex;
        width: 100px;
        justify-content: center;
        margin: auto;
        justify-content: space-around;
    }

    .CardsServicos {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .Card {
        background-color: #efb38b75;
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }

    .cardImg {
        max-width: 200px;
        border-radius: 20px;
    }

    .cardTitle {
        color: #E87F3A;
        font-size: 1.3rem;
        text-align: left;
    }

    .cardDescription {
        color: black;
        text-align: left;
    }

    .cardValue {
        color: #E87F3A;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cardServico {
        position: absolute;
        z-index: 9;
        transform: translateX(200px);
        padding: 5px;
        border-radius: 0px 20px 0px 0px;
        background-color: #efb38b34;
    }

    .SaibaBtn {
        background-color: #E87F3A;
        color: whitesmoke;
        width: 220px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 100px;
        margin: auto;
    }

    .secListaPecos {
        background-color: #e8803a1c;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        border-radius: 20px;
        color: black;
    }

    .list {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        padding: 2cap;
        text-align: left;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .secCarrossel {
        display: flex;
        justify-content: space-around;
    }

    main {
        width: 70%;
    }

    .arrowBg {
        background-color: #FFCBA9;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .arrowBg:hover {
        background-color: #fcd8c0;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .servicosCarrossel {
        display: block;
        width: 400px;
        max-height: 250px;
        padding: 30px;
        border-radius: 20px;
        background-color: #e9bfa4;
        transition: 2s;
    }

    .hidden {
        display: none;
    }

    .rarrow {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
    }

    .rarrow:hover {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
        cursor: pointer;
    }

    .arrow {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
    }

    .arrow:hover {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
        cursor: pointer;

    }

    .alocation {
        width: 25px;
        height: 25px;
        color: #52331f;
    }

    .active {
        width: 25px;
        height: 25px;
        color: #cf6117;

    }

    .alocationList {
        padding: 10px;
        display: flex;
        width: 100px;
        justify-content: center;
        margin: auto;
        justify-content: space-around;
    }

    .CardsServicos {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .Card {
        background-color: #efb38b75;
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }

    .cardImg {
        max-width: 200px;
        border-radius: 20px;
    }

    .cardTitle {
        color: #E87F3A;
        font-size: 1.3rem;
        text-align: left;
    }

    .cardDescription {
        color: black;
        text-align: left;
    }

    .cardValue {
        color: #E87F3A;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cardServico {
        position: absolute;
        z-index: 9;
        transform: translateX(200px);
        padding: 5px;
        border-radius: 0px 20px 0px 0px;
        background-color: #efb38b34;
    }

    .SaibaBtn {
        background-color: #E87F3A;
        color: whitesmoke;
        width: 220px;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
        border-radius: 100px;
        margin: auto;
    }

    .secListaPecos {
        background-color: #e8803a1c;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        border-radius: 20px;
        color: black;
    }

    .list {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        padding: 2cap;
        text-align: left;
    }

}

@media (max-width: 575px) {
    .secCarrossel {
        display: flex;
        justify-content: space-around;
    }

    main {
        width: 70%;
    }

    .arrowBg {
        background-color: #FFCBA9;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .arrowBg:hover {
        background-color: #fcd8c0;
        height: 40px;
        border-radius: 100%;
        padding: 7px 10px 7px 10px;
        transform: translateY(100px);

    }

    .servicosCarrossel {
        display: block;
        width: 300px;
        max-height: 250px;
        padding: 10px;
        border-radius: 20px;
        background-color: #e9bfa4;
        transition: 2s;
    }

    .hidden {
        display: none;
    }

    .rarrow {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
    }

    .rarrow:hover {
        transform: rotate(180deg) translateY(-4px);
        width: 20px;
        height: 15px;
        cursor: pointer;
    }

    .arrow {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
    }

    .arrow:hover {
        width: 20px;
        height: 15px;
        transform: translateY(4px);
        cursor: pointer;

    }

    .alocation {
        width: 25px;
        height: 25px;
        color: #52331f;
    }

    .active {
        width: 25px;
        height: 25px;
        color: #cf6117;

    }

    .alocationList {
        padding: 10px;
        display: flex;
        width: 100px;
        justify-content: center;
        margin: auto;
        justify-content: space-around;
    }

    .CardsServicos {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

    }

    .Card {
        background-color: #efb38b75;
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: center;
        border-radius: 20px;
        padding: 10px;
    }

    .cardImg {
        max-width: 200px;
        border-radius: 20px;
    }

    .cardTitle {
        color: #E87F3A;
        font-size: 1rem;
        text-align: left;
    }

    .cardDescription {
        font-size: 0.9rem;
        color: black;
        text-align: left;
    }

    .cardValue {
        color: #E87F3A;
        text-align: left;
        padding: 10px;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .cardServico {
        position: absolute;
        z-index: 9;
        transform: translateX(200px);
        padding: 5px;
        border-radius: 0px 20px 0px 0px;
        background-color: #efb38b34;
    }

    .SaibaBtn {
        background-color: #E87F3A;
        color: whitesmoke;
        width: 180px;
        padding: 10px;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 100px;
        margin: auto;
    }

    .secListaPecos {
        background-color: #e8803a1c;
        padding: 20px;
        text-align: center;
        margin-top: 100px;
        border-radius: 20px;
        color: black;
    }

    .list {
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        padding: 2cap;
        text-align: left;
    }

}